<section id="about_us">
    <div class="max-w-[var(--width-container-content)] mx-auto px-4">
        <div class="flex items-center flex-wrap justify-between">
            <div class="pr-0 md:pr-5 w-full md:w-1/2 mb-4 md:mb-0">
                <h2 class="font-titles text-6xl font-semibold leading-tight">About Us</h2>
                <h3 class="font-titles text-4xl leading-tight mb-4">Sonny &amp; Amy Smith - Owners</h3>
                <p class="mb-4">We are passionate about finding and connecting families with their perfect puppy through responsible breeding. We've spent time building relationships with our breeder families to ensure we are providing families with healthy &amp; happy puppies!</p>
                <p class="mb-4">All puppies are raised around families, are well cared for and socialized before being placed with their furever homes. Above all, we understand adding a puppy to your family can be an overwhelming experience, for that reason, we take the time to understand your lifestyle and needs that way you end up with your perfect puppy!</p>
                <p>
                    <a class="btn btn-secondary inline-flex" href="/pages/about-us/">Learn more</a>
                </p>
            </div>
            <div class="w-full md:w-2/5 mt-4 md:mt-0">
                <img class="w-full border-b-8 border-l-8 border-solid border-[var(--color-primary)] rounded-l-3xl" src="https://cdn.shopify.com/s/files/1/0603/0471/9957/files/amy-sonny-puppysrus.webp?v=1764041698" alt="Owners Amy and Sonny" width="725" height="947" title="Owners Amy and Sonny Smith" decoding="async" loading="lazy">
            </div>
        </div>
    </div>
</section>
