{% comment %}
  This section is used in the collection template to render collection page
  listing all products within a collection.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/collection
{% endcomment %}

<section class="w-full bg-bg-extralight pt-8">

  <div class="w-full bg-bg-light ms-12 rounded-s-4xl pt-12">
    <h1 class="text-center font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl 2xl:text-8xl">{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="collection-description text-center lg:max-w-[75%] mx-auto">
        outer
        {{ collection.description }}
      </div>
    {% endif %}


    <div class="collection-products">
      {% paginate collection.products by 20 %}
        {% for product in collection.products %}
          {% render 'puppy-card', product: product %}
        {% endfor %}

        {{ paginate | default_pagination }}
      {% endpaginate %}
    </div>
  </div>
</section>

{% stylesheet %}
  .collection-products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.collection",
  "settings": []
}
{% endschema %}
