<footer id="footer" class="bg-secondary mt-[200px] relative">
    <div class="max-w-[var(--width-container-content)] mx-auto px-4">
        <div class="pt-4 flex flex-wrap">
            <div class="w-full sm:w-1/2 md:w-1/4 mb-3 text-center md:text-left">
                <svg xmlns="http://www.w3.org/2000/svg" class="footer-icon max-w-56" viewBox="0 0 80.514 50.449">
                    <title>Puppys R Us icon</title><g data-name="Group 42" transform="translate(-33.011 -433.302)"><g data-name="Group 25"><path fill="#323232" d="M102.831 439.768c-2.186-1.245-5.534-2.892-8.531-4.2-5.932-2.581-6.975-2.34-7.662-2.18-.374.086-1.448.334-5.029 2.543a25.646 25.646 0 0 0-7.908-1.788 18.48 18.48 0 0 0-.373-.014h-.122c-.1 0-.229.007-.374.014a25.641 25.641 0 0 0-7.907 1.788c-3.582-2.21-4.655-2.457-5.028-2.543-.689-.159-1.733-.4-7.663 2.18-3 1.3-6.345 2.951-8.53 4.2-3.865 2.2-11.908 6.783-10.539 15.067 1.194 7.228 3.637 10.855 4.987 12.373l.2.224a4.437 4.437 0 0 0 3.391 1.928h.006a4.344 4.344 0 0 0 1.962-.5 12.5 12.5 0 0 0 2.118 5.336c4.653 6.344 13.874 9.561 27.406 9.561h.065c13.532 0 22.753-3.217 27.406-9.561a12.507 12.507 0 0 0 2.118-5.336 4.344 4.344 0 0 0 1.962.5h.006a4.436 4.436 0 0 0 3.391-1.928l.2-.223c1.35-1.518 3.793-5.145 4.987-12.373 1.369-8.285-6.67-12.867-10.539-15.068Z" data-name="Path 224"></path><g data-name="Group 24"><path fill="#323232" d="M105.024 475.455a1.837 1.837 0 1 1-1.82-1.787 1.8 1.8 0 0 1 1.82 1.787Zm-3.215 0a1.392 1.392 0 0 0 1.4 1.428 1.369 1.369 0 0 0 1.363-1.417 1.38 1.38 0 1 0-2.758-.011Zm1.1.926h-.414v-1.787a4.832 4.832 0 0 1 .686-.055.953.953 0 0 1 .61.142.45.45 0 0 1 .185.381.461.461 0 0 1-.37.425v.022c.174.055.262.2.316.436a1.588 1.588 0 0 0 .131.436h-.436a1.414 1.414 0 0 1-.142-.436c-.033-.186-.142-.273-.37-.273h-.2Zm.011-1h.2c.229 0 .414-.076.414-.261 0-.163-.12-.272-.382-.272a.983.983 0 0 0-.229.022Z" data-name="Path 225"></path></g></g><path fill="#ee6a5c" d="M59.365 435.698c-1.385-.32-10.281 3.729-14.489 6.126s-10.441 6.179-9.375 12.625 3.143 9.748 4.421 11.187 1.7 2.29 4.741-.373a14.972 14.972 0 0 0 1.232-1.236c2.855-3.175 6.291-8.914 8.516-13.04 1.217-2.256 2.578-5.187 3.7-7.67l.477-1.061c.995-2.219 1.721-3.88 1.842-4 .233-.233 1.885.225 2.762 1.054q.4-.2.787-.389.365-.173.723-.33a30.674 30.674 0 0 0-5.337-2.893Z" data-name="Path 226"></path><path fill="#ee6a5c" d="M101.659 441.823c-4.208-2.4-13.1-6.446-14.489-6.126a30.672 30.672 0 0 0-5.337 2.891q.426.187.863.4.321.155.647.321c.877-.828 2.529-1.286 2.762-1.054.121.121.847 1.782 1.842 4l.495 1.1c1.119 2.474 2.472 5.387 3.683 7.632 2.225 4.126 5.661 9.865 8.516 13.04a14.922 14.922 0 0 0 1.232 1.236c3.037 2.663 3.463 1.811 4.741.373s3.356-4.741 4.421-11.187-5.167-10.228-9.376-12.626Z" data-name="Path 227"></path><path fill="#eeeadc" d="M100.641 464.026c-2.855-3.175-6.291-8.914-8.516-13.04-1.211-2.245-2.564-5.157-3.683-7.632l-.495-1.1a29.267 29.267 0 0 0-4.6-2.947q-.326-.168-.647-.321-.437-.21-.863-.4a23.939 23.939 0 0 0-8.246-2.078c-.123-.006-.231-.01-.319-.012s-.2.006-.319.012a23.939 23.939 0 0 0-8.246 2.078q-.357.157-.723.33-.39.185-.787.389a29.268 29.268 0 0 0-4.6 2.947l-.477 1.061c-1.122 2.482-2.483 5.413-3.7 7.67-2.225 4.126-5.661 9.865-8.516 13.04-.32 3.763.44 6.855 1.84 8.765 2.151 2.934 7.67 8.594 25.5 8.594h.071c17.827 0 23.346-5.66 25.5-8.594 1.386-1.907 2.146-4.999 1.826-8.762Z" data-name="Path 228"></path><ellipse cx="11.293" cy="7.458" fill="#ee6a5c" data-name="Ellipse 13" rx="11.293" ry="7.458" transform="rotate(-63.502 400.175 191.047)"></ellipse><path fill="#323232" d="M78.027 463.628c0 1.373-2.983 3.339-4.652 3.339-1.527 0-4.652-1.966-4.652-3.339s2.083-2.059 4.652-2.059 4.652.686 4.652 2.059Z" data-name="Path 229"></path><ellipse cx="2.131" cy="1.492" fill="#323232" data-name="Ellipse 14" rx="2.131" ry="1.492" transform="rotate(-75.535 327.704 190.219)"></ellipse><ellipse cx="1.492" cy="2.131" fill="#323232" data-name="Ellipse 15" rx="1.492" ry="2.131" transform="rotate(-14.465 1839.625 -90.8)"></ellipse><g data-name="Group 26"><path fill="#323232" d="M75.683 472.045a3.151 3.151 0 0 1-2.374-3.237c-.126 2.015-.773 2.917-2.314 3.237-1.882.391-4.279-.977-4.279-.977 1.6 3.374 6.605 3.551 6.605 3.551h.036s5.007-.177 6.606-3.551c-.001 0-2.402 1.387-4.28.977Z" data-name="Path 230"></path></g><path fill="#ee6a5c" d="M74.628 472.702c-.362.1-1.013.194-1.28.232-.267-.038-.918-.136-1.28-.232-.8-.213-2.64.355-2.16 2.095s1.64 3.019 3.44 3.019 2.96-1.278 3.439-3.019-1.359-2.308-2.159-2.095Z" data-name="Path 231"></path></g>
                </svg>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 text-center md:text-left mt-4 md:mt-0">
                <h3 class="text-white font-bold mb-3" style="font-family: var(--font-body);">Find a Puppy</h3>
                <ul class="list-none m-0 p-0">
                    <li class="mb-2">
                        <a href="/all-puppies/" class="text-black no-underline">Search by Breed</a>
                    </li>
                    <li class="mb-2">
                        <a href="/financing/" class="text-black no-underline">Financing</a>
                    </li>
                    <li>
                        <a href="/faq/" class="text-black no-underline">FAQs</a>
                    </li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 text-center md:text-left mt-4 md:mt-0">
                <h3 class="text-white font-bold mb-3" style="font-family: var(--font-body);">Company</h3>
                <ul class="list-none m-0 p-0">
                    <li class="mb-2">
                        <a href="/about/" class="text-black no-underline">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="/about/" class="text-black no-underline">Meet the Team</a>
                    </li>
                    <li class="mb-2">
                        <a href="/learning-center/" class="text-black no-underline">Learning Center</a>
                    </li>
                    <li>
                        <a
                            href="https://puppysrus.zohocreatorportal.com/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="text-black no-underline"
                        >
                            Breeder Portal
                        </a>
                    </li>
                </ul>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 text-center md:text-left mt-4 md:mt-0">
                <h3 class="text-white font-bold mb-3" style="font-family: var(--font-body);">Let's Connect</h3>
                <ul class="list-none m-0 p-0">
                    <li class="mb-2">
                        <a href="tel:+18447337877" class="text-black no-underline">(844) 733-7877</a>
                    </li>
                    <li class="mb-3">
                        <a href="mailto:sales@puppysrus.com" class="text-black no-underline">sales@puppysrus.com</a>
                    </li>
                </ul>
                <ul class="flex justify-center md:justify-start gap-2 list-none m-0 p-0 items-center">
                    <li>
                        <a
                            href="https://www.facebook.com/puppysrus/"
                            target="_blank"
                            title="Follow Puppys R Us on Facebook"
                            rel="noopener nofollow noreferrer"
                            class="flex items-center justify-center h-8 w-8 rounded-[3px] bg-[#3b5998]"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="fill-white w-3">
                                <path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/puppysruswp/"
                            target="_blank"
                            title="Follow Puppys R Us on Instagram"
                            rel="noopener nofollow noreferrer"
                            class="flex items-center justify-center h-8 w-8 rounded-[3px] bg-[#ea2c59]"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fill-white w-[1.05rem]">
                                <path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.youtube.com/channel/UCLUPFgsbDO7P5J-ryDJLkrw"
                            target="_blank"
                            title="Follow Puppys R Us on YouTUbe"
                            rel="noopener nofollow noreferrer"
                            class="flex items-center justify-center h-8 w-8 rounded-[3px] bg-[#a82400]"
                        >
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="fill-white w-[1.1rem]">
                                <path d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"></path>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-5 pt-3 border-t border-white flex flex-wrap">
            <div class="w-full md:w-1/2">
                <p class="text-sm">&copy; Puppys R Us {{ 'now' | date: '%Y' }}</p>
            </div>
            <div class="w-full md:w-1/2">
                <p class="text-right md:text-right text-sm">
                    <a class="text-black no-underline" href="/pages/terms-of-service">Terms of Service</a>
                    |
                    <a class="text-black no-underline" href="/pages/privacy-policy/">Privacy Policy</a>
                    |
                    <a class="text-black no-underline" href="/pages/privacy-policy/">Cookie Policy</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<div class="footer__payment">
    {% if section.settings.show_payment_icons %}
        {% for type in shop.enabled_payment_types %}
            {{ type | payment_type_svg_tag }}
        {% endfor %}
    {% endif %}
</div>

{% stylesheet %}
    /* Footer layout and decorative wave */
    #footer:before {
        background-color: hsla(0, 0%, 100%, 0);
        background-image: url(https://dr9yafd9jyp80.cloudfront.net/pru/grass.svg);
        background-repeat: repeat-x;
        background-size: 450px 150px !important;
        content: '';
        height: 150px;
        left: 0;
        position: absolute;
        top: -150px;
        width: 100%;
    }
{% endstylesheet %}

{% schema %}
{
    "name": "t:general.footer",
    "settings": [
        {
            "type": "link_list",
            "id": "menu",
            "label": "t:labels.menu"
        },
        {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "t:labels.show_payment_icons",
            "default": true
        }
    ]
}
{% endschema %}
