<section class="how-to-purchase-page w-full bg-bg-light py-12">
    <div class="w-full px-4 mx-auto">
    <div class="max-w-[var(--width-container-content)] mx-auto py-12">
        <h1 class="text-4xl font-titles text-center mb-12">How to Purchase</h1>
        <p class="text-center">You found the perfect addition to your family&hellip;</p>
        

        <div class="max-w-[var(--width-container-content)] mx-auto">
            <div class="flex flex-wrap">
                <div class="w-full md:w-1/2 min-w-0">
                    <h3>What's the Next Step?</h3>
                    <!-- circle picture of pup -->
                </div><!-- end left column -->

                <div class="w-full md:w-1/2 min-w-0">
                    <p class="mb-6">Our process is simple, and starts with you completing a “Reserve Me” form. If you are seeking additional information about a puppy, but not yet ready to purchase, please fill out the "Ask About Puppy" form, or on <a href="/contact-us">our contact us page</a> prior to placing a reserve on the puppy.</p>
                    <p class="mb-6">If you wish to purchase a puppy please read the <a href="/pages/health-guarantee">Health Guarantee</a> prior to completing a reserve form. Once this form has been submitted, we will place a reserve hold on the puppy after we have been in contact with you by email or phone. If you decide to move forward, we will send you an invoice for the deposit amount (50% down which can be paid via credit/debit card).</p>
                    <p>Puppys R Us reserves the right to cancel reservations at any time up until deposit has been made.</p>
                </div><!-- end right column -->
            </div>
        </div>
    </div>
    </div>
</section>

{% render 'wave-separator' %}

<section class="bg-bg-extralight">
  <!-- two column section -->
    <div class="max-w-[var(--width-container-content)] mx-auto py-12 px-4">
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2 min-w-0">
                <h3>What's Included?</h3>
            </div><!-- end left column -->

            <div class="w-full md:w-1/2 min-w-0">
                <ul role="list" class="">
                    <li>Registration</li>
                    <li><a href="https://www.homewardboundpet.com/" target="_blank" class="" rel="noopener noreferrer">Microchip</a></li>
                    <li>Exam Prior to Departure</li>
                    <li>Health Certificate</li>
                    <li>Current Vaccine/Dewormings</li>
                    <li>Complete Vaccination Records</li>
                    <li><a href="/health-guarantee" class="">Puppy Health Guarantee</a></li>
                    <li>Pet carrier (flights only)</li>
                </ul>
            </div><!-- end right column -->
        </div>
    </div>
</section>


{% schema %}
{
  "name": "How to Purchase Page",
  "settings": []
}
{% endschema %}