<section class="w-full bg-bg-extralight pt-[5rem]">
    <div class="rounded-top-left w-full bg-bg-light rounded-none rounded-tl-[12.5vw] ms-[4vw] py-16" style="padding-bottom:200px;margin-bottom:-100px">
        <div class="max-w-[var(--width-container-content)] mx-auto">
            <div id="VUVSUmVqaFJZVEYyVUhOV1IzYzlQUT09" class="policy_embed_div" width="100%" height="auto">Please wait while the policy is loaded. If it does not load, please <a rel="nofollow" href="https://policies.termageddon.com/api/policy/VUVSUmVqaFJZVEYyVUhOV1IzYzlQUT09" target="_blank">click here</a> to view the policy.</div>
            <script src="https://policies.termageddon.com/api/embed/VUVSUmVqaFJZVEYyVUhOV1IzYzlQUT09.js"></script>
        </div>
    </div>
</section>