<section class="w-full bg-bg-extralight pt-[5rem]" style="padding-bottom:200px;margin-bottom:-200px">
    <div class="rounded-top-left w-auto bg-bg-light rounded-none rounded-tl-[12.5vw] ms-[4vw] py-16" style="padding-bottom:200px;margin-bottom:-200px">
        <div class="max-w-[var(--width-container-content)] mx-auto px-5">
            <div id="WVhkSE9ISnROblkwVlZobFdsRTlQUT09" class="policy_embed_div" width="100%" height="auto">
                about us page template
            </div>
        </div>
    </div>
</section>