<section class="w-full bg-bg-extralight pt-[5rem]" style="padding-bottom:200px;margin-bottom:-200px">
    <div class="rounded-top-left w-auto bg-bg-light rounded-none rounded-tl-[12.5vw] ms-[4vw] py-16" style="padding-bottom:200px;margin-bottom:-200px">
        <div class="max-w-[var(--width-container-content)] mx-auto px-5">
            <!-- two column layout -->
            <div>
                <!-- one-half column, on the left on desktop & tablet -->
                <div>
                    <h1 class="font-titles text-6xl font-semibold leading-tight">About Us</h1>
                    <h2 class="font-titles text-4xl leading-tight mb-4">Sonny &amp; Amy Smith - Owners</h2>
                    <p class="mb-4">We are passionate about finding and connecting families with their perfect puppy through responsible breeding. We've spent time building relationships with our breeder families to ensure we are providing families with healthy &amp; happy puppies!</p>
                    <p>All puppies are raised around families, are well cared for and socialized before being placed with their furever homes. Above all, we understand adding a puppy to your family can be an overwhelming experience, for that reason, we take the time to understand your lifestyle and needs that way you end up with your perfect puppy!</p>
                </div>
            </div>
        </div>
    </div>
</section>
