<section class="w-full bg-bg-extralight pt-[5rem]" style="padding-bottom:200px;margin-bottom:-200px">
    <div class="rounded-top-left w-auto bg-bg-light rounded-none rounded-tl-[12.5vw] ms-[4vw] py-16" style="padding-bottom:200px;margin-bottom:-200px">
        <div class="max-w-[var(--width-container-content)] mx-auto px-16">
            <h1 class="font-titles text-5xl md:text-8xl md:mb-11 font-semibold leading-tight tracking-tight text-center">About Us</h1>
            <!-- two column layout -->
            <div class="flex gap-16 justify-between items-center mb-12">
                <div class="md:max-w-prose">                    
                    <h2 class="font-titles font-semibold text-5xl leading-tight tracking-tight mb-4">Sonny &amp; Amy Smith - Owners</h2>
                    <p class="mb-4">We are passionate about finding and connecting families with their perfect puppy through responsible breeding. We've spent time building relationships with our breeder families to ensure we are providing families with healthy &amp; happy puppies!</p>
                    <p>All puppies are raised around families, are well cared for and socialized before being placed with their furever homes. Above all, we understand adding a puppy to your family can be an overwhelming experience, for that reason, we take the time to understand your lifestyle and needs that way you end up with your perfect puppy!</p>
                </div>

                <div>
                    <img class="w-full max-w-md border-b-12 border-l-12 border-solid border-[var(--color-primary)] rounded-l-3xl" src="https://cdn.shopify.com/s/files/1/0603/0471/9957/files/amy-sonny-puppysrus.webp?v=1764041698" alt="Owners Amy and Sonny" width="725" height="947" title="Owners Amy and Sonny Smith" decoding="async" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>
